.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;

  // States

  &.disabled {
    border-color: #ccc;
    color: #ccc;
  }

  &.small {
    font-size: 1.2rem;

    .knob {
      width: 2.4rem;
      height: 1.4rem;

      &:before {
        height: 8px;
        width: 9px;
        margin: 1px;
      }
    }
  }

  &.medium {
    font-size: 1.6rem;

    .knob {
      width: 3.2rem;
      height: 1.9rem;

      &:before {
        height: 13px;
        width: 13px;
        margin: 1px;
      }
    }
  }
  &.large {
    font-size: 2.4rem;
  }

  .knob {
    appearance: none;
    outline: none;
    width: 4.1rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    position: relative;
    border: 2px solid mediumvioletred;
    margin-right: 0.8rem;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      background-color: mediumvioletred;
      height: 17px;
      width: 17px;
      position: absolute;
      margin: 2px;
      transition: transform 300ms;
    }

    &:checked {
      &::before {
        transform: translateX(100%);
      }
    }
  }
}
